<!-- employees/templates/employees/position_confirm_delete.html -->

{% extends 'base.html' %}

{% block title %}Delete Position{% endblock %}

{% block content %}
<h2 class="text-center fw-bold my-4">Are you sure you want to delete the position "{{ position.title }}"?</h2>

<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <button class="btn px-5 rounded-1 " type="submit">Yes, delete</button>
        <a class="btn btn-danger m-0" href="{% url 'position_list' %}">No, go back</a>
    </div>
</form>
{% endblock %}
